---
layout: archive
title: "Teaching"
permalink: 
author_profile: true
---

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single-teaching.html %}
{% endfor %}

<!-- <h2>Teaching Assistant, the Penn State University</h2>
<ul>
<li><p>2021 Spring: CMPSC465 Data Structure and Algorithms. </p>
</li>
<li><p>2019 Fall - 2024 Spring: CMPSC/MATH 451/455 Numerical Computation. </p>
</li>
<li><p>2018 Fall: CMPEN/EE455 Digital Image Processing I. </p>
</li>
</ul>
 -->